# Workshop on Machine Learning Using Python, Jagannath University

# Load Dataset

In [1]:
import pandas as pd
#Load dataset
df =pd.read_csv("D:/iris_csv.csv")
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
#Label Encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['label'] = le.fit_transform(df['class'])
df

     sepallength  sepalwidth  petallength  petalwidth           class  label
0            5.1         3.5          1.4         0.2     Iris-setosa      0
1            4.9         3.0          1.4         0.2     Iris-setosa      0
2            4.7         3.2          1.3         0.2     Iris-setosa      0
3            4.6         3.1          1.5         0.2     Iris-setosa      0
4            5.0         3.6          1.4         0.2     Iris-setosa      0
..           ...         ...          ...         ...             ...    ...
145          6.7         3.0          5.2         2.3  Iris-virginica      2
146          6.3         2.5          5.0         1.9  Iris-virginica      2
147          6.5         3.0          5.2         2.0  Iris-virginica      2
148          6.2         3.4          5.4         2.3  Iris-virginica      2
149          5.9         3.0          5.1         1.8  Iris-virginica      2

[150 rows x 6 columns]

In [4]:
#X= Independent features and y=Dependent feature
x = df.drop(['class','label'],axis=1) # axis=0 will act on all the ROWS in each column. axis 1 will act on all the COLUMNS in each row.
y = df['label']

In [5]:
#Checking unique class
y.unique()

array([0, 1, 2])

# Dataset Spliting

In [6]:
#Split the the dataset into trin and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=4,shuffle=True)

# Multi Class Clasification

In [7]:
#Import metrics from sklearn to analysis result
from sklearn import metrics
#Import OneVsRestClassifier
from sklearn.multiclass import OneVsRestClassifier
#Import LogisticRegression
from sklearn.linear_model import LogisticRegression
#Create OneVsRestClassifier
OvR = OneVsRestClassifier(LogisticRegression())
#Fit OneVsRestClassifier
OvR.fit(x_train, y_train)
#Predict the class
y_pre_OnR = OvR.predict(x_test)
y_pre_OnR

array([2, 0, 2, 2, 2, 1, 2, 0, 0, 1, 0, 0, 0, 1, 2, 0, 1, 0, 0, 2, 0, 2,
       1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 1, 2, 2, 1, 1, 0, 2, 0, 1, 0,
       2])

# Confusion Matrix

In [8]:
from sklearn import metrics
c = metrics.confusion_matrix(y_test, y_pre_OnR)
print("Confusion Matrix:\n",c)

Confusion Matrix:
 [[21  0  0]
 [ 0  9  1]
 [ 0  1 13]]

In [9]:
#for class_0  (Positive:0 ; Negative:1 and 2)
TP_0=c[0,0]
TN_0=c[1,1]+c[1,2]+c[2,1]+c[2,2]
FP_0=c[1,0]+c[2,0]
FN_0=c[0,1]+c[0,2]
Accuracy_0 = ((TP_0+TN_0)/(TP_0+TN_0+FP_0+FN_0))*100
print('For Class 0')
print('True Negative:', TN_0)
print('False Positive:', FP_0)
print('False Negative:', FN_0)
print('True Positive:', TP_0)
print('Accuracy: %.2f ' %Accuracy_0)

For Class 0
True Negative: 24
False Positive: 0
False Negative: 0
True Positive: 21
Accuracy: 100.00

In [10]:
#for class_1 (Positive:1 ; Negative:0 and 2)
TP_1=c[1,1]
TN_1=c[0,0]+c[0,2]+c[2,0]+c[2,2]
FP_1=c[0,1]+c[2,1]
FN_1=c[1,0]+c[1,2]
Accuracy_1 = ((TP_1+TN_1)/(TP_1+TN_1+FP_1+FN_1))*100
print('For Class 1')
print('True Negative:', TN_1)
print('False Positive:', FP_1)
print('False Negative:', FN_1)
print('True Positive:', TP_1)
print('Accuracy:%.2f' %Accuracy_1)

For Class 1
True Negative: 34
False Positive: 1
False Negative: 1
True Positive: 9
Accuracy:95.56

In [12]:
#for class_2 (Positive:2 ; Negative:0 and 1)
TP_2=c[2,2]
TN_2=c[0,0]+c[0,1]+c[1,0]+c[1,1]
FP_2=c[0,2]+c[1,2]
FN_2=c[2,0]+c[2,1]
Accuracy_2 = ((TP_2+TN_2)/(TP_2+TN_2+FP_2+FN_2))*100
print('For Class 2')
print('True Negative:', TN_2)
print('False Positive:', FP_2)
print('False Negative:', FN_2)
print('True Positive:', TP_2)
print('Accuracy: %.2f' %Accuracy_2)

For Class 2
True Negative: 30
False Positive: 1
False Negative: 1
True Positive: 13
Accuracy: 95.56

In [13]:
print('Mean of Accuracy: %.2f' %((Accuracy_0+Accuracy_1+Accuracy_2)/3))

Mean of Accuracy: 97.04

# Multi Class Clasification Using Vonting Ensemble Method

In [14]:
from sklearn.ensemble import VotingClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm

b_rf  = RandomForestClassifier()
b_knn = KNeighborsClassifier(n_neighbors=2)
b_nb  = GaussianNB()
b_dt = DecisionTreeClassifier()
b_sv = svm.SVC(probability=True)  #Enable probability.By default its disable

# AdaBoost
#XgBoost
#Gradient Boosting
#Logistic Regression

#[N.B: Source code is hidden. If you want to declare each of the above four as a base classifier please follow above steps.]



VC = VotingClassifier (estimators=[('cl1', b_rf), ('cl5', b_knn), ('cl7', b_nb), ('cl8', b_dt), 
                                    ('cl9', b_sv)], weights=[2,4,2,4,2], voting='soft')      
                                                                            # you can use hard voting or soft voting

VC = OneVsRestClassifier(VC)    
VC.fit(x_train, y_train)
y_predict_ensem = VC.predict(x_test)
ConMat = metrics.confusion_matrix(y_test, y_predict_ensem)
print("Confusion Matrix:\n",ConMat)

Confusion Matrix:
 [[21  0  0]
 [ 0  9  1]
 [ 0  0 14]]